<!DOCTYPE html>
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">
            <img src="favicon.png" alt="PC" width="30" height="30">
            Programming Courses
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                <a class="nav-link" href="./html/contact.html">Contact</a>
                <a class="nav-link" href="./html/about.html">About</a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="mx-2">
                    <button class="btn btn-info" type="button">Login</button>
                </div>
                <div class="mx-2">
                    <button class="btn btn-outline-info" type="button">Registration</button>
                </div>
            </div>
        </div>
    </div>
</nav>