#menu {
	background-color: orange;
	font-family: Arial;
}

#menu li {
	display: inline-block;
}

#menu ul{
	margin-left: 15px;
	padding: 0px;
}

#menu a:link, #menu a:visited{
	color: white;
	text-decoration: none;
	padding: 0px 15px;
	line-height: 30px;
}